a{
    text-decoration: none;
}
.card{
    border: 0;
}
li{
    list-style-type: none;
}

nav{
    background-color: #f4f4f4;
}

.navbar-brand{
    padding: 0 !important;
}
main{
    margin-top: 70px;
}

.main__choice{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.main__choice .card{
}

.main__choice .card img{
    max-height: 200px;
}

.main__form{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

.main__form .text{
    text-align: center;
}

.main__form .text h3{
    margin-top: -5px;
}

.main__form .form_cards{
    display: flex;
    justify-content: center;

}

.main__form .form_cards .card{
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #8b8b8b;
    margin-left: 90px;
    padding: 25px 20px;
}

.main__form .form_cards .card .form-group{
    text-align: left;
}

.form-control{
    margin-top: -10px;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.main__steps{
    width: 100%;
    margin-top: 50px;
    background: #f4f4f4;
}

.main__steps h2{
    text-align: center;
    padding-top: 60px;
}

.main__steps .steps{
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.main__steps .steps .step{
    text-align: center;
    width: 30%;
    margin-bottom: 150px;
}

.main__steps .steps .step p{
    margin-top: 20px;
}

.main__steps .steps .arrow{
    padding: 3.5rem;
}

i{
    font-size: 3.5rem;
}

.main__job{
    width: 60%;
    margin: 0 auto;
}

.main__job .text{
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}

.main__advantages{
    width: 60%;
    margin: 0 auto;
}

.main__advantages .text{
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}

.main__advantages .cards{
    display: flex;
    justify-content: space-between;
}

.main__advantages .cards .card{
    border-radius: 7px;
    background-color: #f7f7f7;
    text-align: center;
    width: 24%;
    padding: 20px;
}

.main__advantages .cards .card h5{
    margin-top: 20px;
}

.main__advantages .cards .card p{
    margin-top: 20px;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.swiper-slide{
    text-align: center;
}
.swiper-slide img{
    width: 60%;
}

.swiper-slide p{
     width: 60%;
     margin: 0 auto;
}

.main__job.feedback{
    width: 100%;
    background: #f4f4f4;
    text-align: center;
}

.main__job.feedback .text{
    padding-top: 70px;
}

.main__job.feedback iframe{
    margin-bottom: 60px;
}
.main__team{
    width: 60%;
    margin: 0 auto;
}
.main__team h2{
    margin-top: 50px;
    text-align: center;
}
.main__team .cards{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.main__team .cards .card{
    width: 33%;
}
.main__team .cards .card h3{
    text-align: center;
}
.main__upgrade{
    width: 60%;
    margin: 0 auto;
}
.main__upgrade h2{
    margin-top: 100px;
    text-align: center;
}
.main__upgrade .cards{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.main__upgrade .cards .card{
    width: 33%;
    text-align: center;
}

.main__upgrade .cards .card p{
    margin-top: 20px;
}

.main__upgrade .cards .card h3{
    text-align: center;
}
.main__questions{
    width: 60%;
    margin: 0 auto;
}
.main__questions h2{
    margin-top: 100px;
    text-align: center;
}


@media (max-width: 1000px) {
    .main__choice{
        flex-direction: column;
        width: 90%;
    }

    .main__choice .card{
        width: 50%;
        margin: 0 auto;
    }

    .main__form{
        width: 90%;
    }

    .main__form .text{
        text-align: left;
    }

    .main__form .text h1{
        font-size: 1.5rem;
    }

    .main__form .text h3{
        font-size: 1rem;
    }

    .main__form .form_cards{
        flex-direction: column;
    }

    .main__form .form_cards .card{
        margin: 0;
        margin-bottom: 30px;
    }

    .main__steps .text{
        width: 90%;
        margin: 0 auto;
    }

    .main__steps .steps{
        flex-direction: column;
        width: 90%;
        margin-top: 20px;
    }

    .main__steps .steps .step{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .main__steps .steps .arrow{
        margin: 0 auto;
    }

    .main__steps .steps .arrow{
        padding: 0;
        margin-bottom: 2rem;
    }

    .main__job{
        width: 100%;
        text-align: center;
    }

    .main__job iframe{
        width: 90%;
        height: 300px !important;
    }

    .main__advantages{
        width: 90%;
    }
    .main__advantages .text h2{
        text-align: left;
    }
    .main__advantages .cards{
        flex-direction: column;

    }

    .main__advantages .cards .card{
        text-align: left;
        width: 100%;
        background-color: inherit;
        padding: 0;
    }

    .main__advantages .cards .card i{
        display: none;
    }

    .main__advantages .cards .card p{
        margin-top: 0;
    }

    .main__advantages .cards .card h5{
        margin-top: 0;
    }

    .swiper-slide img{
        width: 100%;
    }

    .swiper-slide p{
        width: 90%;
        margin: 0 auto;
        text-align: left;
    }

    .main__team{
        width: 90%;
    }

    .main__team img{
        display: none;
    }
    .main__team .cards{
        flex-direction: column;
    }

    .main__team .cards .card{
        width: 100%;
    }

    .main__team .cards .card h3{
        text-align: left;
    }
    .main__upgrade{
        width: 90%;
    }

    .main__upgrade .cards{
        flex-direction: column;
    }

    .main__upgrade .cards .card{
        margin-bottom: 20px;
        width: 100%;
    }

    .main__upgrade .cards .card p{
        text-align: left;
    }

    .main__questions{
        width: 100%;
    }

    .q-btn{
        color: #1e70cd !important;
    }
}
