{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" class="default-style">

<head>
    <title>Russe - Space</title>

    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Icon fonts -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/linearicons.css' %}">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/bootstrap.css' %}" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/appwork.css' %}" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/theme-corporate.css' %}" class="theme-settings-theme-css">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/colors.css' %}" class="theme-settings-colors-css">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/uikit.css' %}">

    <script src="{% static 'assets/vendor/js/material-ripple.js' %}"></script>
    <script src="{% static 'assets/vendor/js/layout-helpers.js' %}"></script>

    <!-- Theme settings -->
    <!-- This file MUST be included after core stylesheets and layout-helpers.js in the <head> section -->
    <script src="{% static 'assets/vendor/js/theme-settings.js' %}"></script>
    <script>
        window.themeSettings = new ThemeSettings({
            cssPath: '/static/assets/vendor/css/rtl/',
            themesPath: '/static/assets/vendor/css/rtl/'
        });
    </script>

    <!-- Core scripts -->
    <!-- Page -->
    <link rel="stylesheet" href="{% static 'assets/css/portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/landing.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/shop.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/blog.css' %}">

    <!-- Libs -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/swiper/swiper.css' %}">
    <script src="https://kit.fontawesome.com/ba974a8480.js"></script>
</head>


<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand text-large font-weight-bolder line-height-1 py-3"><img src="media/logo.png" style="height: 60px;"></img></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-16">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="header-16">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Главная</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" data-trigger="hover">Разделы</a>
                        <div class=" dropdown-menu">
                            <a class="dropdown-item" href="#">Ссылка</a>
                            <a class="dropdown-item" href="javascript:void(0)">Ссылка</a>
                            <a class="dropdown-item" href="javascript:void(0)">Ссылка</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)">Ссылка</a>
                        </div>
                    </div>
                    <a class="nav-item nav-link" href="#">О нас</a>
                    <a class="nav-item nav-link" href="#">Контакты</a>
                </div>

                <div class="navbar-nav align-items-lg-center ml-auto">
                    <a class="nav-item nav-link mr-lg-4" href="#">
                        <i class="fab fa-youtube" style="color: #FF0000"></i>
                        <span class="d-lg-none align-middle">&nbsp; YouTube </span>
                    </a>
                    <a class="nav-item nav-link mr-lg-4" href="#">
                        <i class="fab fa-vk" style="color: #5181B8"></i>
                        <span class="d-lg-none align-middle">&nbsp; VK</span>
                    </a>
                    <a class="nav-item nav-link mr-lg-4" href="#">
                        <i class="fab fa-telegram-plane" style="color: #64A9DC"></i>
                        <span class="d-lg-none align-middle">&nbsp; Telegram </span>
                    </a>
                    <a class="nav-item nav-link mr-lg-4" href="#">
                        <i class="fab fa-instagram" style="color: #212121"></i>
                        <span class="d-lg-none align-middle">&nbsp; Instagram</span>
                    </a>
                    <a class="nav-item nav-link mr-lg-4" href="#">
                        <i class="fab fa-facebook-square" style="color: #5181B8"></i>
                        <span class="d-lg-none align-middle">&nbsp; Facebook</span>
                    </a>

                    <!-- Search -->
                    <label class="nav-item nav-link navbar-search-box">
                        <i class="ion ion-ios-search navbar-icon align-middle"></i>
                        <span class="navbar-search-input">
                            <input type="text" class="form-control mx-2" placeholder="Search..." style="width:140px">
                            <a href="#" class="navbar-search-cancel">×</a>
                        </span>
                    </label>
                </div>
            </div>

        </div>
    </nav>
    <!-- / Navbar -->

    <!-- Slider -->
    <div id="portfolio-slider" class="swiper-container portfolio-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="portfolio-image" style="background-image: url(/media/header__img.jpg);"></div>
                <div class="slider-content align-items-end">
                    <div class="font-secondary active slider-text">
                        <div class="portfolio-caption text-white font-weight-semibold">Такое жилье<br>повод для поездки </div>
                        <a href="#" class="text-white mt-4" style="font-weight: 300 !important">Анонс с несколькими предложениями.</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="portfolio-image" style="background-image: url(/static/assets/img/bg/23.jpg);"></div>
                <div class="slider-content align-items-end">
                    <div class="font-secondary slider-text">
                        <div class="portfolio-caption text-white font-weight-semibold">KNOW<br>YOURSELF,<br>KNOW YOUR<br>WORTH</div>
                        <a href="#" class="portfolio-link text-primary font-weight-bold mt-4">TAKE A LOOK</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="portfolio-image" style="background-image: url(/static/assets/img/bg/24.jpg);"></div>
                <div class="slider-content align-items-end">
                    <div class="font-secondary slider-text">
                        <div class="portfolio-caption text-white font-weight-semibold">YOU ONLY<br>LIVE ONCE</div>
                        <a href="#" class="portfolio-link text-primary font-weight-bold mt-4">TAKE A LOOK</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="portfolio-image" style="background-image: url(/static/assets/img/bg/26.jpg);"></div>
                <div class="slider-content align-items-end">
                    <div class="font-secondary slider-text">
                        <div class="portfolio-caption text-white font-weight-semibold">INVEST<br>THE NOW<br>IN TOMORROW'S<br>DREAM</div>
                        <a href="#" class="portfolio-link text-primary font-weight-bold mt-4">TAKE A LOOK</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="portfolio-image" style="background-image: url(/static/assets/img/bg/25.jpg);"></div>
                <div class="slider-content align-items-end">
                    <div class="font-secondary slider-text">
                        <div class="portfolio-caption text-white font-weight-semibold">IT ALWAYS SEEMS<br>IMPOSSIBLE UNTIL<br>IT'S DONE</div>
                        <a href="#" class="portfolio-link text-primary font-weight-bold mt-4">TAKE A LOOK</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-pagination port_swiper"></div>

        <a href="#" class="portfolio-slider-nav swiper-button-prev custom-icon font-secondary text-tiny">
            <span class="d-inline-block bg-dark text-white p-2"><i class="ion ion-md-arrow-back scaleX--1-rtl"></i> <span class="d-none d-md-inline font-weight-semibold">PREV</span></span>
        </a>
        <a href="#" class="portfolio-slider-nav swiper-button-next custom-icon font-secondary text-tiny">
            <span class="d-inline-block bg-dark text-white p-2"><span class="d-none d-md-inline font-weight-semibold">NEXT</span> <i class="ion ion-md-arrow-forward scaleX--1-rtl"></i></span>
        </a>
    </div>
    <!-- / Slider -->

    <main>

        <div class="about">
            <h2>Airbnb Luxe предлагает искусно спроектированное жилье в
                идеальном состоянии — с роскошными удобствами, услугами
                и личным менеджером поездки.</h2>
            <div class="swiper-container sw-cn" id="shop-hero-slider">
                <div class="swiper-wrapper">
                    <!-- Animate first slide on page load -->
                    <div class="swiper-slide shop-hero-slider-animating ui-bg-cover" style="background-image: url(/media/about__img.jpg)">
                        <div class="container px-3">
                            <div class="shop-hero-container">
                                <div class="flex-shrink-1 text-center py-5">
                                    <div class="swiper-title display-1 font-weight-semibold mb-2">Выходные в Финляндии</div>
                                    <div class="swiper-text display-4">Сегодня наш репортаж про выходные в Финляндии,
                                        которые можно провести просто поехав из Питера
                                        на машине, поезде или автобусе.<br>

                                        <div class="text-white slider-small small mb-3">
                                            May 21, 2017
                                            &nbsp; &nbsp;·&nbsp; &nbsp;
                                            <i class="far fa-eye"></i>&nbsp;562
                                            &nbsp; &nbsp;&nbsp;
                                            <a href="#" class="text-white"><i class="far fa-comments"></i> 12</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ui-bg-cover" style="background-image: url(/media/about__img.jpg)">
                        <div class="container px-3">
                            <div class="shop-hero-container">
                                <div class="flex-shrink-1 text-center py-5">
                                    <div class="swiper-title display-1 font-weight-semibold mb-2">Выходные в Финляндии</div>
                                    <div class="swiper-text  display-4">Сегодня наш репортаж про выходные в Финляндии,
                                        которые можно провести просто поехав из Питера
                                        на машине, поезде или автобусе.<br>

                                        <div class="text-white slider-small small mb-3">
                                            May 21, 2017
                                            &nbsp; &nbsp;·&nbsp; &nbsp;
                                            <i class="far fa-eye"></i>&nbsp;562
                                            &nbsp; &nbsp; &nbsp;
                                            <a href="#" class="text-white"><i class="far fa-comments"></i> 12</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ui-bg-cover" style="background-image: url(/media/about__img.jpg)">
                        <div class="container px-3">
                            <div class="shop-hero-container">
                                <div class="flex-shrink-1 text-center py-5">
                                    <div class="swiper-title display-1 font-weight-semibold mb-2">Выходные в Финляндии</div>
                                    <div class="swiper-text  display-4">Сегодня наш репортаж про выходные в Финляндии,
                                        которые можно провести просто поехав из Питера
                                        на машине, поезде или автобусе.<br>
                                        <div class="text-white slider-small small mb-3">
                                            May 21, 2017
                                            &nbsp; &nbsp;·&nbsp; &nbsp;
                                            <i class="far fa-eye"></i>&nbsp;562
                                            &nbsp; &nbsp; &nbsp;
                                            <a href="#" class="text-white"><i class="far fa-comments"></i> 12</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination1"></div>
            </div>
        </div>

        <div class="unussial">
            <h2> Самое необычное жилье в мире </h2>
            <br>
            <div class = "posts">
                <div class="card mb-4">
                    <div class="card-body m-lg-2">
                        <a href="#" class="d-block ui-rect ui-bg-cover ui-bg-overlay-container text-white" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/ab5ce915-fce0-49f5-a686-3ce23a91f53a.jpg?t=r:w800-h1200-sfit,e:fjpg-c75');">
                            <div class="ui-bg-overlay bg-dark opacity-25"></div>
                        </a>
                        <h4 class="pt-2 mt-4 mb-3">
                            <a href="#" class="text-dark card-title">Подмосковье</a>
                        </h4>
                        <div class="text-muted small mb-3">
                            May 21, 2017
                            &nbsp; &nbsp;·&nbsp; &nbsp;
                            <i class="far fa-eye"></i>562
                            &nbsp; &nbsp; &nbsp;
                            <a href="#" class="text-muted"><i class="far fa-comments"></i> 12</a>
                        </div>
                        <div class="text-muted text-big card-text">
                            Двухдневное путешествие в Подмосковье с детьми.
                        </div>
                    </div>
                </div>
                <div class="card mb-4 center-card">
                    <div class="card-body m-lg-2">
                        <a href="#" class="d-block ui-rect ui-bg-cover ui-bg-overlay-container text-white" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/cfbe1148-5b0c-416b-8b1f-4b1890522335.jpg?t=r:w800-h1200-sfit,e:fjpg-c75');">
                            <div class="ui-bg-overlay bg-dark opacity-25"></div>
                        </a>
                        <h4 class="pt-2 mt-4 mb-3">
                            <a href="#" class="text-dark card-title">Direct Mail Advertising How I Made 47 325 In 30 Days By Mailing 2 200 Letters</a>
                        </h4>
                        <div class="text-muted small mb-3">
                            May 21, 2017
                            &nbsp; &nbsp;·&nbsp; &nbsp;
                            <i class="far fa-eye"></i>562
                            &nbsp; &nbsp; &nbsp;
                            <a href="#" class="text-muted"><i class="far fa-comments"></i> 12</a>
                        </div>
                        <div class="text-muted text-big card-text">
                            Curabitur pulvinar felis auctor lectus tincidunt iaculis.
                            Vivamus aliquam elementum libero. Curabitur pulvinar lorem
                            in nisi mollis eleifend. In aliquet arcu eu cursus blandit.
                            Nulla sed pretium nisi.
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body m-lg-2">
                        <a href="#" class="d-block ui-rect ui-bg-cover ui-bg-overlay-container text-white" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/e37701f0-7467-4330-b6ae-fe576b8f7090.jpg?t=r:w800-h1200-sfit,e:fjpg-c75');">
                            <div class="ui-bg-overlay bg-dark opacity-25"></div>
                        </a>
                        <h4 class="pt-2 mt-4 mb-3">
                            <a href="#" class="text-dark card-title">Direct Mail Advertising How I Made 47 325 In 30 Days By Mailing 2 200 Letters</a>
                        </h4>
                        <div class="text-muted small mb-3">
                            May 21, 2017
                            &nbsp; &nbsp;·&nbsp; &nbsp;
                            <i class="far fa-eye"></i>562
                            &nbsp; &nbsp; &nbsp;
                            <a href="#" class="text-muted"><i class="far fa-comments"></i> 12</a>
                        </div>
                        <div class="text-muted text-big card-text">
                            Curabitur pulvinar felis auctor lectus tincidunt iaculis.
                            Vivamus aliquam elementum libero. Curabitur pulvinar lorem
                            in nisi mollis eleifend. In aliquet arcu eu cursus blandit.
                            Nulla sed pretium nisi.
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-container travel-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ui-bg-cover" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/10598512-e0f5-41ae-bb95-330997aad615.jpg?t=r:w2263-h1273-sfit,e:fjpg-c75')">
                        <div class="container px-3">
                            <div class="shop-hero-container">
                                <div class="flex-shrink-1 text-center py-5">
                                    <div class="swiper-title display-1 font-weight-semibold mb-2">Выходные в Финляндии</div>
                                    <div class="swiper-text  display-4">Сегодня наш репортаж про выходные в Финляндии,
                                        которые можно провести просто поехав из Питера
                                        на машине, поезде или автобусе.<br>
                                        <small class="">
                                            <i class="far fa-eye"></i> 562
                                            &nbsp; &nbsp; &nbsp;
                                            <a href="#" class="text-white"><i class="far fa-comments"></i> 12</a>
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide ui-bg-cover" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/10598512-e0f5-41ae-bb95-330997aad615.jpg?t=r:w2263-h1273-sfit,e:fjpg-c75')">
                        <div class="container px-3">
                            <div class="shop-hero-container">
                                <div class="flex-shrink-1 text-center py-5">
                                    <div class="swiper-title display-1 font-weight-semibold mb-2">Выходные в Финляндии</div>
                                    <div class="swiper-text  display-4">Сегодня наш репортаж про выходные в Финляндии,
                                        которые можно провести просто поехав из Питера
                                        на машине, поезде или автобусе.<br>
                                        <small class="">
                                            <i class="far fa-eye"></i> 562
                                            &nbsp; &nbsp; &nbsp;
                                            <a href="#" class="text-white"><i class="far fa-comments"></i> 12</a>
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide ui-bg-cover" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/10598512-e0f5-41ae-bb95-330997aad615.jpg?t=r:w2263-h1273-sfit,e:fjpg-c75')">
                        <div class="container px-3">
                            <div class="shop-hero-container">
                                <div class="flex-shrink-1 text-center py-5">
                                    <div class="swiper-title display-1 font-weight-semibold mb-2">Выходные в Финляндии</div>
                                    <div class="swiper-text  display-4">Сегодня наш репортаж про выходные в Финляндии,
                                        которые можно провести просто поехав из Питера
                                        на машине, поезде или автобусе.<br>
                                        <small class="">
                                            <i class="far fa-eye"></i> 562
                                            &nbsp; &nbsp; &nbsp;
                                            <a href="#" class="text-white"><i class="far fa-comments"></i> 12</a>
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination2"></div>
            </div>
        </div>

        <div class="site-sections">
            <h2> Разделы сайта </h2>
            <div class="sections">
                <div class="card">
                    <div class="w-100">
                        <a href="#" class="d-block ui-rect ui-bg-cover rounded-top" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/a7fe1266-b67d-4beb-b675-a1f6b669f374.jpg?t=c:w800-h450,r:w800-h450-sfit,e:fjpg-c75');"></a>
                    </div>
                    <div class="card-body">
                        <h4 class="m-0">
                            <a href="#" class="text-dark"><span class="info">Репортажей: 20</span><br>
                                <span class="text">Punta Mita </span>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="card">
                    <div class="w-100">
                        <a href="#" class="d-block ui-rect ui-bg-cover rounded-top" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/daade126-d332-495c-9fcd-fb26e234da23.jpg?t=c:w800-h450,r:w800-h450-sfit,e:fjpg-c75');"></a>
                    </div>
                    <div class="card-body">
                        <h4 class="m-0">
                            <a href="#" class="text-dark"><span class="info">Репортажей: 20</span><br>
                                <span class="text">Punta Mita </span>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="card">
                    <div class="w-100">
                        <a href="#" class="d-block ui-rect ui-bg-cover rounded-top" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/e93f0981-98a5-4ab4-87da-fceaea7b64f2.jpg?t=c:w800-h450,r:w800-h450-sfit,e:fjpg-c75');"></a>
                    </div>
                    <div class="card-body">
                        <h4 class="m-0">
                            <a href="#" class="text-dark"><span class="info">Репортажей: 20</span><br>
                                <span class="text">Punta Mita </span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
            <br>
            <div class="sections">
                <div class="card mb-4">
                    <div class="w-100">
                        <a href="#" class="d-block ui-rect ui-bg-cover rounded-top" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/f1df5aaf-0870-47d7-85dc-5d41454ef433.jpg?t=c:w800-h450,r:w800-h450-sfit,e:fjpg-c75');"></a>
                    </div>
                    <div class="card-body m-lg-2">
                        <h4 class="m-0">
                            <a href="#" class="text-dark"><span class="info">Репортажей: 20</span><br>
                                <span class="text">Punta Mita </span>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="w-100">
                        <a href="#" class="d-block ui-rect ui-bg-cover rounded-top" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/88b48bc6-38bc-4612-87cd-cb131ec0e2c8.jpg?t=c:w800-h450,r:w800-h450-sfit,e:fjpg-c75');"></a>
                    </div>
                    <div class="card-body m-lg-2">
                        <h4 class="m-0">
                            <a href="#" class="text-dark"><span class="info">Репортажей: 20</span><br>
                                <span class="text">Punta Mita </span>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="w-100">
                        <a href="#" class="d-block ui-rect ui-bg-cover rounded-top" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/8062af46-68e7-4ce1-b786-33c83a3cb4d6.jpg?t=c:w800-h450,r:w800-h450-sfit,e:fjpg-c75');"></a>
                    </div>
                    <div class="card-body m-lg-2">
                        <h4 class="m-0">
                            <a href="#" class="text-dark"><span class="info">Репортажей: 20</span><br>
                                <span class="text">Punta Mita </span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="direction-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img class="swiper-img" src="https://a0.muscache.com/4ea/air/v2/pictures/a7fe1266-b67d-4beb-b675-a1f6b669f374.jpg?t=c:w800-h450,r:w800-h450-sfit,e:fjpg-c75">

                        <h4>
                            <a href="#" class="text-dark"><span class="info">Репортажей: 20</span><br>
                                <span class="text">Punta Mita </span>
                            </a>
                        </h4>
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-img" src="https://a0.muscache.com/4ea/air/v2/pictures/a7fe1266-b67d-4beb-b675-a1f6b669f374.jpg?t=c:w800-h450,r:w800-h450-sfit,e:fjpg-c75">

                        <h4>
                            <a href="#" class="text-dark"><span class="info">Репортажей: 20</span><br>
                                <span class="text">Punta Mita </span>
                            </a>
                        </h4>
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-img" src="https://a0.muscache.com/4ea/air/v2/pictures/a7fe1266-b67d-4beb-b675-a1f6b669f374.jpg?t=c:w800-h450,r:w800-h450-sfit,e:fjpg-c75">

                        <h4>
                            <a href="#" class="text-dark"><span class="info">Репортажей: 20</span><br>
                                <span class="text">Punta Mita </span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="another-directions">
            <h2> Другие направления </h2>
            <br>
            <div class="continents">
                <div class="continent">
                    <p>Азия и Океания</p>
                    <ul>
                        <li>Бали</li>
                        <li>Остров Самуи</li>
                        <li>Панг-Нга</li>
                        <li>Пхукет</li>
                        <li>Новая Зеландия</li>
                        <li>Сидней</li>
                    </ul>
                </div>

                <div class="continent">
                    <p>Африка</p>
                    <ul>
                        <li>Кейптаун</li>
                        <li>Марракеш</li>

                    </ul>
                </div>

                <div class="continent">
                    <p>Еврова</p>
                    <ul>
                        <li>Лондон</li>
                        <li>Апулия</li>
                        <li>Сицилия</li>
                        <li>Swiss Apls</li>
                        <li>Тоскана</li>

                    </ul>
                </div>
                <div class="continent">
                    <p>Карибские острова</p>
                    <ul>
                        <li>Ангилия</li>
                        <li>Антигуа и Барбурда</li>
                        <li>Бардабос</li>
                        <li>Bonaire</li>
                        <li>Каймановы о-ва</li>
                        <li>Доминиканская Республика</li>
                        <li>Ямайка</li>
                        <li>Saint Barthelemy</li>
                        <li>О-ва Тёркс и Кайкос</li>
                    </ul>
                </div>
                <div class="continent">
                    <p>Латинская Америка</p>
                    <ul>
                        <li>Коста-Рика</li>
                        <li>Кабо-Сан-Лукас</li>
                        <li>Пуэрто-Вальярта</li>
                        <li>Punta Mita</li>
                        <li>Riviera Maya</li>
                        <li>Нуэво-Вальярта </li>
                    </ul>
                </div>
                <div class="continent">
                    <p>США</p>
                    <ul>
                        <li>Остров Гавайи</li>
                        <li>Лос-Анджелес</li>
                        <li>Палм-Спрингс</li>
                        <li>Парк-Сити</li>
                        <li>Юта</li>
                        <li>Вайл</li>
                    </ul>
                </div>
            </div>



            <p class="all_homes"><a href="#">Показать всё жилье Airbnb Luxe &raquo;</a></p>
            <br>
            <div class="want_home">

                <h3>Хотите жилье на Airbnb Luxe? <span class="go">Подать заявку</span></h3>

            </div>
        </div>

    </main>

    <!-- Core scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Add this code as early as you can -->


    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/js/dropdown-hover.js' %}"></script>

    <!-- Libs -->
    <script src="{% static 'assets/vendor/libs/swiper/swiper.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/masonry/masonry.js' %}"></script>
    <script src="{% static 'assets/vendor/js/ui_dropdowns.js' %}"></script>
    <!-- Page -->
    <script src="{% static 'assets/js/portfolio.js' %}"></script>
    <script src="{% static 'assets/js/shop.js' %}"></script>
    <script src="{% static 'assets/vendor/js/blog.js' %}"></script>


    <script type="text/javascript">
        var port_swip = new Swiper('.portfolio-swiper', {

            pagination: {
              el: '.port_swiper',
              clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
        });
    </script>

    <script type="text/javascript">
        var swiper = new Swiper('.sw-cn', {

          loop: true,
          autoplay: {
                delay: 5000,
                disableOnInteraction: false,
              },

          pagination: {
            el: '.swiper-pagination1',
          },
        });
    </script>
    <script type="text/javascript">
        var mySwiperr = new Swiper('.travel-swiper', {
            slidesPerView: 1,
            spaceBetween: 30,

            pagination: {
                el: '.swiper-pagination2',
                clickable: true,
            },
        });
    </script>
    <script type="text/javascript">
        var mySwiper = new Swiper('.direction-swiper', {
            freeMode: true,
        });
    </script>
</body>

</html>
