{% include 'main/header.html' %}
<!-- Slider -->
<div class = "post_page">
    <div id="portfolio-slider" class="post">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="portfolio-image" style="background-image: url(/media/header__img.jpg);"></div>
                <div class="slider-content align-items-end">


                    <div class="slider-text">
                        <p class = "direct">Главная  /  Раздел  /  Пост</p>
                        <div class = "main-text align-items-end">
                            <div class="portfolio-caption text-white font-weight-semibold">Такое жилье<br> повод для поездки </div>
                            <a href="#" class="text-white mt-4" style="font-weight: 300 !important">Анонс с несколькими предложениями.</a>
                            <div class="text-white slider-small small">
                                May 21, 2017
                                &nbsp; &nbsp;·&nbsp; &nbsp;
                                <i class="far fa-eye"></i>&nbsp;562
                                &nbsp; &nbsp;&nbsp;
                                <a href="#" class="text-white"><i class="far fa-comments"></i> 12</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'main/footer.html' %}

<script type="text/javascript">
    $(".navbar").addClass("bg-white");
</script>
