
    {% include 'main/header.html' %}
    <div class = "unussial">
        <div class = "posts">
            <div class="card mb-4">
                <div class="card-body m-lg-2">
                    <a href="#" class="d-block ui-rect ui-bg-cover ui-bg-overlay-container text-white" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/ab5ce915-fce0-49f5-a686-3ce23a91f53a.jpg?t=r:w800-h1200-sfit,e:fjpg-c75');">
                        <div class="ui-bg-overlay bg-dark opacity-25"></div>
                    </a>
                    <h4 class="pt-2 mt-4 mb-3">
                        <a href="#" class="text-dark card-title">Двухдневное путешествие в Подмосковье с детьми</a>
                    </h4>
                    <div class="text-muted small mb-3">
                        May 21, 2017
                        &nbsp; &nbsp;·&nbsp; &nbsp;
                        <i class="far fa-eye"></i>562
                        &nbsp; &nbsp; &nbsp;
                        <a href="#" class="text-muted"><i class="far fa-comments"></i> 12</a>
                    </div>
                    <div class="text-muted text-big card-text">
                        Сегодня мы расскажем о большом двухдневном путешествии по городам Подмосковья на автомобиле с детьми.
                    </div>
                </div>
            </div>
            <div class="card mb-4 center-card">
                <div class="card-body m-lg-2">
                    <a href="#" class="d-block ui-rect ui-bg-cover ui-bg-overlay-container text-white" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/cfbe1148-5b0c-416b-8b1f-4b1890522335.jpg?t=r:w800-h1200-sfit,e:fjpg-c75');">
                        <div class="ui-bg-overlay bg-dark opacity-25"></div>
                    </a>
                    <h4 class="pt-2 mt-4 mb-3">
                        <a href="#" class="text-dark card-title">Direct Mail Advertising How I Made 47 325 In 30 Days By Mailing 2 200 Letters</a>
                    </h4>
                    <div class="text-muted small mb-3">
                        May 21, 2017
                        &nbsp; &nbsp;·&nbsp; &nbsp;
                        <i class="far fa-eye"></i>562
                        &nbsp; &nbsp; &nbsp;
                        <a href="#" class="text-muted"><i class="far fa-comments"></i> 12</a>
                    </div>
                    <div class="text-muted text-big card-text">
                        Curabitur pulvinar felis auctor lectus tincidunt iaculis.
                        Vivamus aliquam elementum libero. Curabitur pulvinar lorem
                        in nisi mollis eleifend. In aliquet arcu eu cursus blandit.
                        Nulla sed pretium nisi.
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body m-lg-2">
                    <a href="#" class="d-block ui-rect ui-bg-cover ui-bg-overlay-container text-white" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/e37701f0-7467-4330-b6ae-fe576b8f7090.jpg?t=r:w800-h1200-sfit,e:fjpg-c75');">
                        <div class="ui-bg-overlay bg-dark opacity-25"></div>
                    </a>
                    <h4 class="pt-2 mt-4 mb-3">
                        <a href="#" class="text-dark card-title">Direct Mail Advertising How I Made 47 325 In 30 Days By Mailing 2 200 Letters</a>
                    </h4>
                    <div class="text-muted small mb-3">
                        May 21, 2017
                        &nbsp; &nbsp;·&nbsp; &nbsp;
                        <i class="far fa-eye"></i>562
                        &nbsp; &nbsp; &nbsp;
                        <a href="#" class="text-muted"><i class="far fa-comments"></i> 12</a>
                    </div>
                    <div class="text-muted text-big card-text">
                        Curabitur pulvinar felis auctor lectus tincidunt iaculis.
                        Vivamus aliquam elementum libero. Curabitur pulvinar lorem
                        in nisi mollis eleifend. In aliquet arcu eu cursus blandit.
                        Nulla sed pretium nisi.
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body m-lg-2">
                    <a href="#" class="d-block ui-rect ui-bg-cover ui-bg-overlay-container text-white" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/ab5ce915-fce0-49f5-a686-3ce23a91f53a.jpg?t=r:w800-h1200-sfit,e:fjpg-c75');">
                        <div class="ui-bg-overlay bg-dark opacity-25"></div>
                    </a>
                    <h4 class="pt-2 mt-4 mb-3">
                        <a href="#" class="text-dark card-title">Подмосковье</a>
                    </h4>
                    <div class="text-muted small mb-3">
                        May 21, 2017
                        &nbsp; &nbsp;·&nbsp; &nbsp;
                        <i class="far fa-eye"></i>562
                        &nbsp; &nbsp; &nbsp;
                        <a href="#" class="text-muted"><i class="far fa-comments"></i> 12</a>
                    </div>
                    <div class="text-muted text-big card-text">
                        Двухдневное путешествие в Подмосковье с детьми.
                    </div>
                </div>
            </div>
            <div class="card mb-4 center-card">
                <div class="card-body m-lg-2">
                    <a href="#" class="d-block ui-rect ui-bg-cover ui-bg-overlay-container text-white" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/cfbe1148-5b0c-416b-8b1f-4b1890522335.jpg?t=r:w800-h1200-sfit,e:fjpg-c75');">
                        <div class="ui-bg-overlay bg-dark opacity-25"></div>
                    </a>
                    <h4 class="pt-2 mt-4 mb-3">
                        <a href="#" class="text-dark card-title">Direct Mail Advertising How I Made 47 325 In 30 Days By Mailing 2 200 Letters</a>
                    </h4>
                    <div class="text-muted small mb-3">
                        May 21, 2017
                        &nbsp; &nbsp;·&nbsp; &nbsp;
                        <i class="far fa-eye"></i>562
                        &nbsp; &nbsp; &nbsp;
                        <a href="#" class="text-muted"><i class="far fa-comments"></i> 12</a>
                    </div>
                    <div class="text-muted text-big card-text">
                        Curabitur pulvinar felis auctor lectus tincidunt iaculis.
                        Vivamus aliquam elementum libero. Curabitur pulvinar lorem
                        in nisi mollis eleifend. In aliquet arcu eu cursus blandit.
                        Nulla sed pretium nisi.
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body m-lg-2">
                    <a href="#" class="d-block ui-rect ui-bg-cover ui-bg-overlay-container text-white" style="background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/e37701f0-7467-4330-b6ae-fe576b8f7090.jpg?t=r:w800-h1200-sfit,e:fjpg-c75');">
                        <div class="ui-bg-overlay bg-dark opacity-25"></div>
                    </a>
                    <h4 class="pt-2 mt-4 mb-3">
                        <a href="#" class="text-dark card-title">Direct Mail Advertising How I Made 47 325 In 30 Days By Mailing 2 200 Letters</a>
                    </h4>
                    <div class="text-muted small mb-3">
                        May 21, 2017
                        &nbsp; &nbsp;·&nbsp; &nbsp;
                        <i class="far fa-eye"></i>562
                        &nbsp; &nbsp; &nbsp;
                        <a href="#" class="text-muted"><i class="far fa-comments"></i> 12</a>
                    </div>
                    <div class="text-muted text-big card-text">
                        Curabitur pulvinar felis auctor lectus tincidunt iaculis.
                        Vivamus aliquam elementum libero. Curabitur pulvinar lorem
                        in nisi mollis eleifend. In aliquet arcu eu cursus blandit.
                        Nulla sed pretium nisi.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="swiper-container section-swiper">
        <div class="swiper-wrapper">
            <!-- Animate first slide on page load -->
            <div class="swiper-slide shop-hero-slider-animating ui-bg-cover" style="background-image: url(/media/about__img.jpg)">
                <div class="container px-3">
                    <div class="shop-hero-container">
                        <div class="flex-shrink-1 text-center py-5">
                            <div class="swiper-title display-1 font-weight-semibold mb-2">Выходные в Финляндии</div>
                            <div class="swiper-text display-4">Сегодня наш репортаж про выходные в Финляндии,
                                которые можно провести просто поехав из Питера
                                на машине, поезде или автобусе.<br>

                                <div class="text-white slider-small small mb-3">
                                    May 21, 2017
                                    &nbsp; &nbsp;·&nbsp; &nbsp;
                                    <i class="far fa-eye"></i>&nbsp;562
                                    &nbsp; &nbsp;&nbsp;
                                    <a href="#" class="text-white"><i class="far fa-comments"></i> 12</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide ui-bg-cover" style="background-image: url(/media/about__img.jpg)">
                <div class="container px-3">
                    <div class="shop-hero-container">
                        <div class="flex-shrink-1 text-center py-5">
                            <div class="swiper-title display-1 font-weight-semibold mb-2">Выходные в Финляндии</div>
                            <div class="swiper-text  display-4">Сегодня наш репортаж про выходные в Финляндии,
                                которые можно провести просто поехав из Питера
                                на машине, поезде или автобусе.<br>

                                <div class="text-white slider-small small mb-3">
                                    May 21, 2017
                                    &nbsp; &nbsp;·&nbsp; &nbsp;
                                    <i class="far fa-eye"></i>&nbsp;562
                                    &nbsp; &nbsp; &nbsp;
                                    <a href="#" class="text-white"><i class="far fa-comments"></i> 12</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide ui-bg-cover" style="background-image: url(/media/about__img.jpg)">
                <div class="container px-3">
                    <div class="shop-hero-container">
                        <div class="flex-shrink-1 text-center py-5">
                            <div class="swiper-title display-1 font-weight-semibold mb-2">Выходные в Финляндии</div>
                            <div class="swiper-text  display-4">Сегодня наш репортаж про выходные в Финляндии,
                                которые можно провести просто поехав из Питера
                                на машине, поезде или автобусе.<br>
                                <div class="text-white slider-small small mb-3">
                                    May 21, 2017
                                    &nbsp; &nbsp;·&nbsp; &nbsp;
                                    <i class="far fa-eye"></i>&nbsp;562
                                    &nbsp; &nbsp; &nbsp;
                                    <a href="#" class="text-white"><i class="far fa-comments"></i> 12</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination swiper-pagination3"></div>
    </div>

    {% include 'main/footer.html' %}
